<!-- tasklists 横向容器 -->
<div class="tasklists">
  <!-- 每个类别的任务列表 -->
  <app-task-list
    class="list-container"
    *ngFor="let list of lists">

    <!-- 监听task-header组件发射出来的各种事件 -->
    <app-task-header 
    [header]="list.name"
    (newTask)="launchNewTaskDialog()"
    (moveAll)="launchCopyTaskDialog()"
    (delList)="launchConfirmDialog()"
    (onEditList)="launchEditListDialog()"></app-task-header>
    
    <!-- 具体的一个任务 -->
    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (taskClick)="launchUpdateTaskDialog(task)"></app-task-item>
  </app-task-list>
</div>

<button class="fab-button" md-fab type="button" (click)="launchNewListDialog()">
  <md-icon>add</md-icon>
</button>