<!-- 根容器：整个站点的容器 -->
<!-- 如果darkTheme是true，则激活黑夜模式 -->
<md-sidenav-container [class.myapp-dark-theme]="darkTheme">
  <!-- 侧边导航 默认情况下是长侧边滑出来-->
  <!-- 侧滑的三种模式： over: 在主体上一层，主体变暗；push: 跟主体同一层，主体变暗；side：跟主体同一层 -->
  <!-- align:end => 侧边栏在右边弹出 -->
  <md-sidenav #sidenav mode="over" align="start">
    <app-sidebar (navClick)="sidenav.toggle()"></app-sidebar>
  </md-sidenav>

  <!-- 
    <md-sidenav #rightsidenav mode="over" align="end">
      <app-sidebar></app-sidebar>
    </md-sidenav>
   -->
  
  <div class="site">
    <header>
      <!-- toggle处理侧边栏触发；toggleDarkTheme处理主题切换 -->
      <app-header (toggle)="sidenav.toggle()" (toggleDarkTheme)="switchTheme($event)"></app-header>
    </header>
    <main>
      <!-- 
        <button (click)="sidenav.toggle()">打开左侧边栏</button>
        <button (click)="rightsidenav.open()">打开右侧边栏</button>
       -->

       <!-- 路由页面： login页面 register页面 等-->
       <router-outlet></router-outlet>

       <!-- 实验：触发器的状态 -->
       <!-- <div class="square" [@square]="squareState" (click)="onClick()"></div> -->
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</md-sidenav-container>
